# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
*.log

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store